html.dark {
  --bg-body-color: #292e39;
  --primary-bg-color: #171c28;
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(7482%) hue-rotate(72deg) brightness(99%) contrast(99%);

  --header-bg-color: #171c28;
  --header-actions-group-bg-color: #292e39;
  --header-actions-group-shadow: rgba(0, 0, 0, 0.2);
  --header-actions-group-separate-bg-color: #545458;

  /** Home Page*/
  --bg-ctg-item: #171c28;
  --bg-ctg-item-thumb: #292e39;
}
