html {
  --bg-body-color: #f6f6f6;
  --primary-bg-color: #eee;
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(6%) sepia(26%)
    saturate(3064%) hue-rotate(225deg) brightness(98%) contrast(93%);

  --header-bg-color: #eee;
  --header-actions-group-bg-color: #fff;
  --header-actions-group-shadow: #ededf633;
  --header-actions-group-separate-bg-color: #ededf6;

  --dropdown-bg-color: #fff;
  --dropdown-shadow-color: #c8c8c866;

  /** Home Page*/
  --bg-ctg-item: #eee;
  --bg-ctg-item-thumb: #fff;
}
