*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins";
  color: var(--text-color);
  background: var(--bg-body-color);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

button,
input,
textarea,
select {
  font-family: inherit;
  color: inherit;
}

img {
  display: block;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 16px;
}

// .row,
// .col {
//   margin: 0;
//   padding: 0;
// }

.icon {
  filter: var(--icon-color);
}

.g-5 {
  --bs-gutter-x: 24px;
  --bs-gutter-y: 24px;
}
